In [1]:
import re

import pandas as pd
import numpy as np

import glassdoor_scraper as gs

pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.read_csv('./glassdoor_jobs.csv')
df

,Job Title,Company,Location,Salary Estimate,Rating,Description,Headquarters,Size,Founded,Ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",-1,10000+ Employees,1975,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,-1
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",-1,10000+ Employees,1998,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,-1,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",-1,Unknown,--,Company - Private,Electronics Manufacturing,Manufacturing,Unknown / Non-Applicable,-1
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Principal Data Scientist,Delta Airlines,"Atlanta, GA",$134K - $172K (Glassdoor est.),4.2,"UNITED STATES, GEORGIA, ATLANTA\n\nGLOBAL CONSUMER INSIGHT\n\n17-JUL-2025\n\nREF #: 29205\nHOW YOU'LL HELP US KEEP CLIMBING (OVERVIEW & KEY RESPONSIBILITIES)\nAt Delta Air Lines, connection is at the heart of everything we do and guides our every action. We strive to welcome and care for all of our customers during their travels with us and aim to deliver an elevated experience.",-1,10000+ Employees,1928,Company - Public,"Airlines, Airports & Air Transportation",Transportation & Logistics,$10+ billion (USD),-1
801,DATA SCIENTIST,Reliance Global Services,"South Plainfield, NJ",$84K - $134K (Glassdoor est.),4.3,"Analyze large datasets and interact with relational databases. Write SQL queries, stored procedures, functions, triggers, and views. Develop and implement statistical models, machine learning algorithms, and data-driven solutions for business clients. Automate existing processes to streamline data analysis. Build dashboards and generate reports. Make recommendations based on analytical insights. Skills Required: Python, SQL, Git, Hadoop, Spark, SAS and Tableau. Master’s degree in Science, Techno...",-1,51 to 200 Employees,--,Company - Private,--,--,$5 to $25 million (USD),-1
802,Data Scientist and AI Engineer,SKT Lab,"Santa Clara, CA",$103K - $173K (Glassdoor est.),-1.0,"We are always looking for smart, enthusiastic, creative people to join our team! If you are interested in working with us, please email us at job@sktlab.com.\n\nQualifications:\nWe are looking for a candidate with 5+ years of experience in a Data Scientist role, who has Bachelor's or Graduate degree in Computer Science, Statistics, Informatics, Information Systems or another quantitative field.\nExperience with big data tools\nExperience with relational SQL and NoSQL databases\nDeveloping in R and Pyt...",-1,1 to 50 Employees,--,Company - Public,Computer Hardware Development,Information Technology,Unknown / Non-Applicable,-1
803,Data Scientist,Gustaine,"Orange, CA",$72K - $128K (Glassdoor est.),-1.0,"Role Summary / Purpose\nHighly motivated self-driven Engineer in statistics / predictive modeling / data quality to lead and guide multi-disciplinary project teams addressing key challenges for different businesses. Creation of intellectual property will be a key expectation in this role.\n\nEssential Responsibilities\nAs a senior data scientist in the Modeling and Optimization, you will create and guide programs to invent and deliver predictive modeling and decision technologies for diverse busines...",-1,Unknown,--,Company - Public,--,--,Unknown / Non-Applicable,-1
804,AI Engineer/Data Scientist,SPR,"Chicago, IL",$145K - $190K (Employer provided),4.0,AI Engineer/Data Scientist\nInformation Technology\n\n\nJob Number:\n4805\nCity :\nChicago\nState :\nIL\nAI ENGINEER/ DATA SCIENTIST,-1,201 to 500 Employees,1973,Company - Private,Information Technology Support Services,Information Technology,$25 to $100 million (USD),-1

In [3]:
df.shape

(805, 14)

Out of 1316 (805 + 511) job postings, 511 were duplicates

In [4]:
df.dtypes

Job Title           object
Company             object
Location            object
Salary Estimate     object
Rating             float64
Description         object
Headquarters         int64
Size                object
Founded             object
Ownership           object
Industry            object
Sector              object
Revenue             object
Competitors          int64
dtype: object

## Deleting Duplicates

In [5]:
mask = df.duplicated()
print(f"NO of duplicate job postings = {len(df.loc[mask])}")

NO of duplicate job postings = 92

In [6]:
print(f"No original job postings = {len(df)}")
df.drop(list(df.loc[mask].index), axis='index', inplace=True)
print(f"No of job postings after deleting duplicates = {len(df)}")

No original job postings = 805
No of job postings after deleting duplicates = 713

In [7]:
df.columns

Index(['Job Title', 'Company', 'Location', 'Salary Estimate', 'Rating',
       'Description', 'Headquarters', 'Size', 'Founded', 'Ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [8]:
df.drop(['Size', 'Founded'], axis='columns', inplace=True)

df.rename(columns={
    'Ownership':'ownership',
    'Revenue':'revenue',
    'Competitors':'competitors',
    "Job Title":"job_title",
    "Company":"company",
    "Location":"location",
    "Salary Estimate":"salary_est",
    "Rating":"rating",
    "Description":"description",
    "Headquarters":"headquarters",
    "Industry":"industry",
    "Sector":"sector",
}, inplace=True)

In [9]:
df.head()

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",-1,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,-1
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",-1,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,-1,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",-1,Company - Private,Electronics Manufacturing,Manufacturing,Unknown / Non-Applicable,-1
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,-1,-1,-1,-1,-1,-1,-1
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,-1,-1,-1,-1,-1,-1,-1

# Data cleaning and Feature Engineering

In [10]:
job_titles = df['job_title'].unique()
print(f"number of unique job descriptions = {len(job_titles)}")
print("Job titles scraped =>", job_titles)

number of unique job descriptions = 338
Job titles scraped => ['Data Scientist' 'Risk Analytics Data Scientist'
 'Data Scientist, Applied AI - Remote' 'Sr. Data Scientist'
 'Senior Data Scientist' 'Data Scientist - Model Optimization'
 'Machine Learning Engineer' 'AI Scientist - Machine Learning (US/KR)'
 'Machine Learning Engineer L-1' 'ML/AI Engineers' 'Staff Data Scientist'
 'Data Scientist (N)' 'DATA SCIENTIST 2' 'Supply Chain Data Scientist'
 'Data Scientist, Marketing' 'Data Scientist I' 'Sr Data Scientist'
 'Data Scientist I - Early Careers' 'Data Scientist II'
 'Senior Product Data Scientist'
 'AI/ML Scientist – Operational Twinning & Healthcare Optimization'
 'Sr Data Scientist, Pricing Analytics (OR/Optimization)'
 'Data Scientist / Engineer' 'Data Scientist, Growth'
 'Senior Data Scientist - Insights and Analytics'
 'Data Scientist – Machine Learning Focus' 'Data Scientist 1'
 'Senior Data Scientist I'
 'Artificial Intelligence/ Machine Learning Engineer'
 'Machine Learning- Data Scientist' 'ML/LLM Engineer – Applied AI'
 'Nuuly Senior Data Scientist' 'AI Lab: Applied Scientist, Analyst'
 'Data Scientist - Fraud Strategy' 'Data Scientist – LLMs & Applied AI'
 'Data Scientist II - ML Engineer-AI Assurance'
 'Data Scientist I- Windreich Department for Artificial Intelligence & Human Health'
 'Staff I Data Scientist' 'Senior AI/ML Applied Scientist - Generative AI'
 'Market Data Scientist' 'Marketing Data Scientist'
 'Senior, Data Scientist' 'Data Scientist, Ads - USDS'
 'Data Scientist Senior (MRA)' 'Machine Learning and AI Opportunities'
 'Sr Data Scientist I' 'Staff, Data Scientist' 'MACHINE LEARNING ENGINEER'
 'Data Scientist + AI/ML Engineer-5' 'Healthcare Data Scientist'
 'Data Scientist, AI Agent' 'Senior Associate, AI Data Scientist'
 'Senior Data Scientist, Online Insights'
 'Senior ML Scientist - Generative AI' 'Data Scientist - AI'
 '2026 University Graduate - Machine Learning Engineer'
 'Research Data Scientist' 'Marketing Data Scientist - Remote'
 '(USA) Senior, Data Scientist - Delivery Performance' 'AI Data Scientist'
 'Data Scientist/Developer' 'Data Scientist - Senior'
 'SALES DATA SCIENTIST' 'AI/ML Engineer' 'Data Scientist (Onsite)'
 'Data Scientist, Marketing Program Analytics' 'DATA SCIENTIST'
 'Artificial Intelligence/Machine Learning (AI/ML) Engineer'
 'Data Scientist II - Machine Learning' 'Data Scientist - Fairfax, VA'
 'Employee Listening Data Scientist III' 'Sr. Biomedical Data Scientist'
 'AI & GEN AI Data Scientist-Experienced Associate'
 'Data Scientist - Fort Belvoir, Virginia (APOGEE)'
 'Data Scientist (Python / Data Analytics)' 'Lead Data Scientist'
 'Senior Data Scientist (Hybrid)'
 'Artificial Intelligence/Machine Learning Engineer'
 'GEN AI DATA SCIENTIST' 'Data Scientist | Boston' 'Data Scientist III'
 'Jr R&D Data Scientist' 'Data Scientist, Legal Analytics'
 'RevOps Data Scientist' 'Associate Data Scientist'
 'Data Scientist - Journeyman' 'Sr. Data Scientist - Hybrid'
 'Data Scientist 3' '(USA) Staff, Data Scientist'
 'Computational Analyst or Data Scientist' 'Research Scientist'
 'Staff AI Scientist - Machine Learning (US/KR)'
 'Data Scientist, Product Analytics' 'Data Scientist/BI Engineer'
 'Data Science Graduate' 'Data Scientist, User Growth'
 'Healthcare Data Scientist II' 'Data Scientist II - R&I'
 'Data Scientist, Merchandising Analytics' 'Machine Learning Engineer II'
 'Data Scientist - II' 'Data Scientist- Associate'
 'Senior Data Scientist, Analytics' 'AI and Data Engineer'
 'DATA SCIENTIST ASSOCIATE' 'Data Scientist II, Growth Marketing'
 'Data Scientist, Growth Analytics' 'Health Data Scientist'
 'Data Scientist AI Solutions' 'Data Scientist I - Hybrid'
 'Machine Learning Researcher / ML-Ops Engineer' 'Applied Data Scientist'
 'data scientist (Seattle, WA - U.S.)'
 'Research Associate Data Scientist - Dept of Orthopaedics'
 'Sr Decision Scientist' 'Full Stack Data Scientist'
 'senior data scientist - Data & Analytics (Seattle, WA)' 'AI Scientist'
 'Data Scientist Senior Associate' 'Senior Analyst, Data Science'
 'Data Scientist---Junior Level'
 'Data Scientist, Decisions - Loyalty & Partnerships'
 'Data Scientist (Hybrid)' 'Healthcare Data Scientist I'
 'Associate Scientist, Statistics and Data Science'
 'Data Scientist / AI Engineer' 'Data Scientist 2'
 'Data Engineer/Scientist' 'Machine Learning Engineer/Data Scientist'
 'Machine Learning Scientist'
 'Data Scientist/Analyst - San Francisco, CA, USA'
 'Data Scientist / Quant' 'Data Scientist - Junior'
 'Jr. Data Scientist - Riverview, FL' 'Data Scientist, CRM Marketing'
 'Data Scientist, Level 2' 'SENIOR DATA SCIENTIST*'
 'Senior Data Scientist (P3656)' 'AI/ML and Data Scientist'
 'Associate Data Scientist / Data Scientist I' 'Data Scientist (2894)'
 'Junior Computer Vision Data Scientist'
 'Data Scientist II, Product Analytics' 'Data Scientist II, BRS'
 'Data Scientist, Commercial Pricing' 'Data Science Graduate (Colorado)'
 'Data Scientist (169253)' 'Data Scientist – AI Strategy & Implementation'
 'Sr Data Scientist- Generative AI'
 'Data Analyst, Science & Technology Platform'
 'Data Scientist - Marketing' 'Applied Scientist'
 'Data Scientist III (Ops & Fleet)' 'AI Engineer/Data Scientist II'
 'Data Scientist (AI/ML)' 'Data Scientist - Health Fraud Analytics'
 'Data Scientist, Consultant'
 'Data Scientist, Life Sciences Marketing Analytics'
 'Data Scientist - All Levels'
 'Career Opportunities: Senior Data Scientist (5812)'
 'Founding Data Scientist' 'Data Scientist (ABS)' 'JUNIOR DATA SCIENTIST'
 'Data Scientist - Cordish Gaming Shared Services'
 'AI/ML Engineer- Early Career' 'Data Scientist – R01555533'
 'Associate, Data Science' 'AI/ML Data Scientist'
 'Data Scientist - Supply Chain Optimization' 'Data Scientist I/ II/ Sr'
 'Sr Data Scientist- AXS' 'AI/ML Ops Data Scientist – Jr.'
 'Machine Learning Engineer/ Data Scientist'
 'GEN AI Sr Data Scientist/Data Scientist' 'Visualization/Data Scientist'
 'AI & Machine Learning Engineer (Multiple Roles, Remote & On-Site)'
 'Statistician / Data Scientist' 'Staff Data Scientist, Life Sciences AI'
 'Senior Data Scientist | AI'
 'Data Scientist – Logistics Specialist (Navy)'
 'Data Scientist (Dublin, CA)' 'Data Scientist Ongoing Talent Pipeline'
 'Decision Scientist II' 'Machine Learning Engineer / Data Scientist'
 'Data Scientist 2 - 4P/114'
 '(USA) Data Scientist III - Machine Learning Engineer'
 'Data Scientist - Trust & Safety' 'Senior Data Scientist, Costing'
 'Data Scientist - Digital Measures' 'WOC Research Data Scientist'
 'Data Scientist II, Customer Technology'
 'Senior Data Scientist - Digital Platform for Manufacturing and Supply'
 'Data Scientist, Quantitative Research'
 'Machine Learning Engineer – Data and AI' 'Sr Advanced Data Scientist'
 'Sr. Data Scientist I (5905)' 'ML Engineer----- Junior Level'
 'AI & Machine Learning Engineer'
 'Data Scientist – Risk Modeling & Analytics' 'Big Data Scientist 4'
 'Senior Data Scientist, Pricing & Sourcing' 'AI/ML Scientist II'
 'Data Scientist (Biostatistics)'
 'Data Scientist - Scientific AI, Life Sciences'
 'Associate Commercial Data Scientist' 'Principal Data Scientist, AI'
 'Data Scientist Manufacturing Quality - Duneland' 'Data Scientist, RWE'
 'Data Scientist II – QuantumBlack, AI by McKinsey (Critical Industries)'
 'Principal Data Scientist' 'Sr. Data Scientist, Grid Analytics'
 'Machine Learning Scientist, Risk' 'AI Trust Data Scientist II'
 'ML Performance Engineer, Knowledge Graphs'
 'Data Scientist (m/f/d) - Idaho' 'Data Scientist I - Media Mix Modeling'
 'Data Scientist/AI Engineer' 'Data Scientist | 2026 Start'
 'Data Scientist / AI engineer'
 'Cancer Biology Omics Associate Data Scientist'
 'Senior Data Scientist, Generative AI' 'ETL Analyst/Data Scientist'
 'Senior Data Scientist, Wharton Graduate Division'
 'AppleCare Data Scientist'
 'Data Scientist II - McWilliams School of Biomedical Informatics'
 'Data Scientist, Financial Services Consulting'
 'Principal Data Scientist- Generative AI'
 'ENERGY MARKET ANALYST (DOE) (DATA SCIENTIST)' 'Mid-Level Data Scientist'
 'AI/ML Specialist' 'Senior Engineer - AI/ML/Data Scientist'
 'Senior Data Scientist - AI Model Optimization (LLM/SLM) for Network Automation'
 'Machine Learning Scientist III – Growth Marketing (Multimodal LLMs, NLP, Computer vision)'
 'Data Scientist II - Advanced Manufacturing'
 'Research Data Scientist III - Digestive Disease & Surgery Institute (DDSI)'
 'Data Scientist - Artificial Intelligence Initiatives'
 'Data Scientist (Junior - Senior)'
 'Data, Machine Learning & Generative AI Developer'
 'Staff Behavioral Data Scientist, YouTube Marketing'
 'Consulting Data Scientist' 'Senior Data Scientist - CMX'
 'Data Scientist (or AI Engineer) - Hybrid'
 'Machine Learning Scientist- LLM/AI, San Jose'
 'Senior Data Scientist (AdTech)' 'Machine Learning - Data Scientist'
 'Senior Data Scientist | Commodities'
 'Sr Data Engineer - Gen AI/ML - Tampa'
 'Machine Learning Engineer/Scientist I - Early Career 2025 University Grad'
 'Artificial Intelligence/Machine Learning (AI/ML) Analyst (2929)'
 'Machine Learning Scientist III, Recommendations'
 'Data Scientist Analyst - Level 3' 'Sr. Data Scientist, Machine Learning'
 'AI Research Scientist' 'Data Scientist- AI & Data Governance'
 'Principal Machine Learning Data Scientist, Gen AI'
 'Neural Data Scientist' 'Data Scientist Advanced Development Program'
 'Data Scientist/Sr. Data Scientist - Technical AI Ethicist'
 'Senior AI Data Scientist'
 'Computational Scientist - Artificial Intelligence & Machine Learning'
 'Sr AI / ML With Python and Pharma [ Life Science ]'
 'Senior data scientist' 'Data Scientist – Pharma Analytics'
 'Data Analyst (AI)' 'Clinical Data - Senior/ Staff Data Scientist'
 '(USA) Data Scientist III (Search)'
 'Lead Data Scientist - Commercial (Seaport MA)'
 'Data Scientist (Utility Planning/AI)' 'Data Scientist-Refrigeration'
 'Data Scientist Graduate (E-Commerce Governance)-2026 Start (BS/MS)'
 'Applied Machine Learning Scientist II (AI/ML)'
 'Associate Machine Learning Engineer'
 'Data Scientist - Energy (Oil and Gas)' 'Data Scientist- Manager'
 'Sr Data Scientist, Computational Geneticist, Integrated Data Science, DHBL'
 'AI/ML Data Scientist - Decision Support Systems'
 'Senior Data Scientist Hybrid' 'Commercial Bank Onboarding AI Associate'
 'Machine\u202fLearning Quantitative Researcher'
 'Data Scientist, AI Engineer (R-18525)'
 'Sr Applied Data Scientist - AI/ML'
 'Data Scientist/Machine Learning Engineer - Reston, VA'
 'AI Senior Machine Learning Scientist'
 'Advanced Data Science Associate Consultant - Generative AI and Machine Learning'
 'Sr Staff Data Scientist' 'AI Engineer / Data Engineer'
 'Data Scientist - AI/ML Model Development & Productization'
 'Data Scientist II, Supply Chain Retail Technology'
 'Applied Sensing & Health AI and Machine Learning Scientist'
 'Python Engineer - Machine Learning & Data Analysis'
 'Data Scientist - Early Career (USA)' 'Sr Data Scientist – Finance'
 'Decision Scientist | Operations Research, Optimization'
 'Data Scientist/ML Architect' 'Senior Data Scientist III'
 'Junior Data Scientist (4755)'
 'Data Scientist Graduate (Product Analytics, USDS) - 2025 Start (BS, MS)'
 '(600) Data Scientist'
 'Senior Healthcare Data Scientist - AI/ML, Stats, OR'
 '(USA) Senior, Data Scientist'
 'Data Scientist, Research, YouTube Gaming Discovery'
 'Senior Data Scientist II' 'Strategy & Analytics, Data Scientist'
 'OSINT Data Scientist' 'Sr. Process Data Scientist'
 'Principal Supply Chain Data Scientist'
 'Software Engineer III -AI/ML, Python' 'Statistical Scientist (Ph.D.)'
 'Sr.Data Scientist' 'Data Scientist/Analyst' 'Junior Data Scientist'
 'Data Scientist/Database Engineer' 'Data Scientist - New Orleans'
 'Predictive Modeler / Data Scientist' 'Baseball Analyst/Data Scientist'
 'RESEARCH DATA ANALYST, School of Medicine, Department of Medicine'
 'Junior ML Engineer'
 'Data Scientist / Senior Data Scientist, Statistical Genetics'
 'Machine Learning / NLP Data Scientist'
 'Data Scientist in Bioinformatics and Neuroscience'
 'Data Scientist/machine Learning Engineer' 'Data Scientist - AI/ML'
 'Senior Data Scientist - AI/ML Solutions'
 'Forward Deployed Data Scientist' 'Machine Learning Engineer - NJ'
 'R&D Machine Learning Engineer (Engineering Scientist Associate)'
 'Data Scientist, Ambulatory Transformation & Performance'
 'Field Data Scientist, AI Deployment'
 'Machine Learning / Data Science Engineer'
 'Data Scientist - AI/ML (Atlanta, GA)'
 'Data Scientist - Operations Research'
 'Junior Scientific Programmer/Data Scientist'
 'Scientific Programmer/Data Scientist' 'Clinical Data Scientist'
 'Data Science Analyst' 'DATA SCIENCE CONSULTANT BOSTON'
 'Data Scientist and AI Engineer' 'AI Engineer/Data Scientist']

In [11]:
# job title refining and categorizing

def categorize_title(title):
    if not isinstance(title, str):
        return 'Other'
        
    title_low = title.lower()
    # 1. Machine Learning / ML Engineer
    if 'machine learning' in title_low or 'ml engineer' in title_low or 'ml scientist' in title_low or 'ml/llm' in title_low:
        return 'machine learning engineer'
    # 2. AI Scientist / AI Engineer
    if 'ai scientist' in title_low or 'artificial intelligence' in title_low or 'ai engineer' in title_low or 'gen ai' in title_low or 'ai/ml' in title_low:
        return 'ai/ml engineer/scientist'
    # 3. Data Scientist (This is broad and catches most of your titles)
    if 'data scientist' in title_low:
        return 'data scientist'
    # 4. Data Engineer
    if 'data engineer' in title_low:
        return 'data engineer'
    # 5. Data Analyst
    if 'analyst' in title_low:
        return 'data analyst'
    # 6. Research Scientist
    if 'research' in title_low:
        return 'research scientist'
    # 7. Statistician
    if 'statistician' in title_low:
        return 'statistician'
    # 8. Other (Catch-all for everything else)
    else:
        return 'other'

# --- Function to Extract Seniority ---
def extract_seniority(title):
    if not isinstance(title, str):
        return 'Not Specified'
        
    title_low = title.lower()

    # We check from highest to lowest seniority
    if 'principal' in title_low:
        return 'principal'
    if 'staff' in title_low:
        return 'staff'
    if 'lead' in title_low or 'manager' in title_low:
        return 'lead/manager'
    if 'sr' in title_low or 'senior' in title_low:
        return 'senior'
    if 'jr' in title_low or 'junior' in title_low or 'associate' in title_low or 'graduate' in title_low or 'entry' in title_low:
        return 'junior/associate'
    # Using regex to find levels like I, II, III, 1, 2, 3
    # \b matches a "word boundary" to avoid matching 'iii' in 'principal'
    if re.search(r'\b(i{3}|iii|3)\b', title_low):
        return 'Level 3'
    if re.search(r'\b(i{2}|ii|2)\b', title_low):
        return 'Level 2'
    if re.search(r'\b(i|1)\b', title_low) and 'level 1' not in title_low and 'l-1' not in title_low:
         if 'data scientist i' in title_low or 'level 1' in title_low or 'l-1' in title_low:
            return 'level 1'
    # If no other seniority is found
    return 'standard/mid-level'


df['job_category'] = df['job_title'].apply(categorize_title)
# 2. Create the new seniority column
df['seniority'] = df['job_title'].apply(extract_seniority)

print("--- Job Categories ---")
print(df['job_category'].value_counts())

print("\n--- Seniority Levels ---")
print(df['seniority'].value_counts())

--- Job Categories ---
job_category
data scientist               574
machine learning engineer     77
ai/ml engineer/scientist      38
other                         12
data analyst                   6
research scientist             4
data engineer                  2
Name: count, dtype: int64

--- Seniority Levels ---
seniority
standard/mid-level    432
senior                151
Level 2                38
junior/associate       35
staff                  17
Level 3                17
level 1                12
principal               7
lead/manager            4
Name: count, dtype: int64

In [12]:
df

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors,job_category,seniority
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",-1,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",-1,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,-1,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",-1,Company - Private,Electronics Manufacturing,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,-1,-1,-1,-1,-1,-1,-1,data scientist,senior
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,-1,-1,-1,-1,-1,-1,-1,data scientist,senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Principal Data Scientist,Delta Airlines,"Atlanta, GA",$134K - $172K (Glassdoor est.),4.2,"UNITED STATES, GEORGIA, ATLANTA\n\nGLOBAL CONSUMER INSIGHT\n\n17-JUL-2025\n\nREF #: 29205\nHOW YOU'LL HELP US KEEP CLIMBING (OVERVIEW & KEY RESPONSIBILITIES)\nAt Delta Air Lines, connection is at the heart of everything we do and guides our every action. We strive to welcome and care for all of our customers during their travels with us and aim to deliver an elevated experience.",-1,Company - Public,"Airlines, Airports & Air Transportation",Transportation & Logistics,$10+ billion (USD),-1,data scientist,principal
801,DATA SCIENTIST,Reliance Global Services,"South Plainfield, NJ",$84K - $134K (Glassdoor est.),4.3,"Analyze large datasets and interact with relational databases. Write SQL queries, stored procedures, functions, triggers, and views. Develop and implement statistical models, machine learning algorithms, and data-driven solutions for business clients. Automate existing processes to streamline data analysis. Build dashboards and generate reports. Make recommendations based on analytical insights. Skills Required: Python, SQL, Git, Hadoop, Spark, SAS and Tableau. Master’s degree in Science, Techno...",-1,Company - Private,--,--,$5 to $25 million (USD),-1,data scientist,standard/mid-level
802,Data Scientist and AI Engineer,SKT Lab,"Santa Clara, CA",$103K - $173K (Glassdoor est.),-1.0,"We are always looking for smart, enthusiastic, creative people to join our team! If you are interested in working with us, please email us at job@sktlab.com.\n\nQualifications:\nWe are looking for a candidate with 5+ years of experience in a Data Scientist role, who has Bachelor's or Graduate degree in Computer Science, Statistics, Informatics, Information Systems or another quantitative field.\nExperience with big data tools\nExperience with relational SQL and NoSQL databases\nDeveloping in R and Pyt...",-1,Company - Public,Computer Hardware Development,Information Technology,Unknown / Non-Applicable,-1,ai/ml engineer/scientist,standard/mid-level
803,Data Scientist,Gustaine,"Orange, CA",$72K - $128K (Glassdoor est.),-1.0,"Role Summary / Purpose\nHighly motivated self-driven Engineer in statistics / predictive modeling / data quality to lead and guide multi-disciplinary project teams addressing key challenges for different businesses. Creation of intellectual property will be a key expectation in this role.\n\nEssential Responsibilities\nAs a senior data scientist in the Modeling and Optimization, you will create and guide programs to invent and deliver predictive modeling and decision technologies for diverse busines...",-1,Company - Public,--,--,Unknown / Non-Applicable,-1,data scientist,standard/mid-level
804,AI Engineer/Data Scientist,SPR,"Chicago, IL",$145K - $190K (Employer provided),4.0,AI Engineer/Data Scientist\nInformation Technology\n\n\nJob Number:\n4805\nCity :\nChicago\nState :\nIL\nAI ENGINEER/ DATA SCIENTIST,-1,Company - Private,Information Technology Support Services,Information Technology,$25 to $100 million (USD),-1,ai/ml engineer/scientist,standard/mid-level

In [13]:
# salary cleaning

def parse_salary(s):
    if pd.isna(s):
        return np.nan
    s = s.strip()

    # Case 1: $100K - $112K (...)
    match_range = re.match(r'^\$(\d+)K\s*-\s*\$(\d+)K', s)
    if match_range:
        low, high = map(int, match_range.groups())
        return (low + high) / 2 * 1000  # convert to full USD value

    # Case 2: $112K (...)
    match_single = re.match(r'^\$(\d+)K', s)
    if match_single:
        return int(match_single.group(1)) * 1000

    # Case 3: $38.07 - $56.73 Per Hour (...)
    match_hour = re.match(r'^\$(\d+(?:\.\d+)?)\s*-\s*\$(\d+(?:\.\d+)?)\s*Per Hour', s)
    if match_hour:
        low, high = map(float, match_hour.groups())
        hourly = (low + high) / 2
        yearly = hourly * 7 * 5 * 52  # 7 hrs/day * 5 days/week * 52 weeks/year
        return yearly

    return np.nan  # if none match

df['annual_salary_avg'] = df['salary_est'].apply(parse_salary)
df.head()

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors,job_category,seniority,annual_salary_avg
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",-1,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",-1,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level,137000.0
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,-1,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",-1,Company - Private,Electronics Manufacturing,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,NaN
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,-1,-1,-1,-1,-1,-1,-1,data scientist,senior,135000.0
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,-1,-1,-1,-1,-1,-1,-1,data scientist,senior,152000.0

In [14]:
df['min_salary'] = df['salary_est'].str.extract(r'^\$(\d+)K', expand=False)
df['max_salary'] = df['salary_est'].str.extract(r'\$(\d+)K(\s\(.*\))?$')[0]

df['max_salary'] = pd.to_numeric(df['max_salary'], errors='coerce') * 1000
df['min_salary'] = pd.to_numeric(df['min_salary'], errors='coerce') * 1000

df.head()

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",-1,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0,105000.0,120000.0
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",-1,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level,137000.0,101000.0,173000.0
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,-1,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",-1,Company - Private,Electronics Manufacturing,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,NaN,NaN,NaN
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,-1,-1,-1,-1,-1,-1,-1,data scientist,senior,135000.0,110000.0,160000.0
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,-1,-1,-1,-1,-1,-1,-1,data scientist,senior,152000.0,132000.0,172000.0

In [15]:
one_salary_mask = df['salary_est'].str.contains(r'^\$\d+K\s\(.*\)$', regex=True)
df.loc[one_salary_mask, ['salary_est', 'min_salary', 'max_salary']]

                    salary_est  min_salary  max_salary
55   $112K (Employer provided)    112000.0    112000.0
189   $82K (Employer provided)     82000.0     82000.0
234  $112K (Employer provided)    112000.0    112000.0
327   $82K (Employer provided)     82000.0     82000.0
398   $84K (Employer provided)     84000.0     84000.0
433  $136K (Employer provided)    136000.0    136000.0
561   $80K (Employer provided)     80000.0     80000.0

In [16]:
print("--- Job Industries ---")
print(df['industry'].value_counts())

print("\n--- Sector ---")
print(df['sector'].value_counts())

--- Job Industries ---
industry
-1                                         79
--                                         71
Information Technology Support Services    59
Enterprise Software & Network Solutions    37
Health Care Services & Hospitals           35
                                           ..
Culture & Entertainment                     1
State & Regional Agencies                   1
Grantmaking & Charitable Foundations        1
Travel Agencies                             1
Primary & Secondary Schools                 1
Name: count, Length: 72, dtype: int64

--- Sector ---
sector
Information Technology                         179
-1                                              78
--                                              71
Financial Services                              46
Retail & Wholesale                              41
Manufacturing                                   40
Healthcare                                      35
Management & Consulting                         35
Aerospace & Defense                             28
Education                                       26
Pharmaceutical & Biotechnology                  22
Energy, Mining & Utilities                      21
Insurance                                       20
Media & Communication                           17
Government & Public Administration              10
Telecommunications                              10
Transportation & Logistics                       9
Arts, Entertainment & Recreation                 5
Construction, Repair & Maintenance Services      5
Real Estate                                      4
Restaurants & Food Service                       3
Human Resources & Staffing                       3
Legal                                            2
Agriculture                                      1
Nonprofit & NGO                                  1
Hotels & Travel Accommodation                    1
Name: count, dtype: int64

In [17]:
temp_lst = ['job_title', 'company', 'salary_est', 'description', 'headquarters', 'industry', 'sector', 'job_category', 'seniority']
df[temp_lst] = df[temp_lst].replace(['..', '-1', '--'], pd.NA)
df.head(2)

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",-1,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0,105000.0,120000.0
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",-1,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level,137000.0,101000.0,173000.0

In [18]:
industry_absent_filter = df['industry'].isna()
sector_absent_filter = df['sector'].isna()
print(len(df.loc[~industry_absent_filter & sector_absent_filter]))
print(len(df.loc[industry_absent_filter & ~sector_absent_filter]))

df.loc[industry_absent_filter | sector_absent_filter]

0
1

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,<NA>,-1,-1,<NA>,<NA>,-1,-1,data scientist,senior,135000.0,110000.0,160000.0
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,<NA>,-1,-1,<NA>,<NA>,-1,-1,data scientist,senior,152000.0,132000.0,172000.0
5,Data Scientist - Model Optimization,"quadric, Inc","Burlingame, CA",$114K - $167K (Glassdoor est.),4.0,<NA>,-1,-1,<NA>,<NA>,-1,-1,data scientist,standard/mid-level,140500.0,114000.0,167000.0
6,Machine Learning Engineer,Adidev Technologies Inc,"Austin, TX",$100K - $147K (Glassdoor est.),3.8,<NA>,-1,-1,<NA>,<NA>,-1,-1,machine learning engineer,standard/mid-level,123500.0,100000.0,147000.0
7,AI Scientist - Machine Learning (US/KR),Gauss Labs,"Palo Alto, CA",$142K - $187K (Glassdoor est.),3.8,<NA>,-1,-1,<NA>,<NA>,-1,-1,machine learning engineer,standard/mid-level,164500.0,142000.0,187000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781,Forward Deployed Data Scientist,Growth Signals,"Boston, MA",<NA>,-1.0,"Forward Deployed Data Scientist\nLocation: Boston, MA preferred, remote may be considered\nType: Full-time\nStage: Seed-stage AI Startup\nIndustry: B2B SaaS / Artificial Intelligence\n\nAs a Forward Deployed Data Scientist (FDDS) at Growth Signals, you'll work directly with enterprise customers to help them get real value from our GenAI platform. You'll be their primary technical partner, combining data science expertise with product knowledge and customer success to solve their toughest challenges.\nI...",-1,-1,<NA>,<NA>,-1,-1,data scientist,standard/mid-level,NaN,NaN,NaN
791,Data Scientist,WTAnow,"Herndon, VA",$98K - $136K (Glassdoor est.),5.0,"At WTAnow, LLC dba WebTech Analytics, we rely on insightful data to power our systems and solutions. We’re seeking an experienced data scientist to deliver insights on a daily basis. The ideal candidate will have mathematical and statistical expertise, along with natural curiosity and a creative mind. While mining, interpreting, and cleaning our data, this person will be relied on to ask questions, connect the dots, and uncover hidden opportunities for realizing the data’s full potential. As par...",-1,Company - Private,<NA>,<NA>,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,117000.0,98000.0,136000.0
797,Data Scientist,SelectMinds,"Dallas, TX",$100K - $143K (Glassdoor est.),-1.0,"Job Description:\nWe are seeking a data scientist to join our business intelligence team to help us make better business decisions based on our data. The ideal candidate will have a working knowledge of statistics, mathematics, and data science programming languages (e.g., SQL, R, Python). Your primary responsibilities will be performing statistical analyses, running custom SQL queries, and identifying patterns and trends that can improve our products’ and services’ efficiency and usability. You ...",-1,Company - Public,<NA>,<NA>,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,121500.0,100000.0,143000.0
801,DATA SCIENTIST,Reliance Global Services,"South Plainfield, NJ",$84K - $134K (Glassdoor est.),4.3,"Analyze large datasets and interact with relational databases. Write SQL queries, stored procedures, functions, triggers, and views. Develop and implement statistical models, machine learning algorithms, and data-driven solutions for business clients. Automate existing processes to streamline data analysis. Build dashboards and generate reports. Make recommendations based on analytical insights. Skills Required: Python, SQL, Git, Hadoop, Spark, SAS and Tableau. Master’s degree in Science, Techno...",-1,Company - Private,<NA>,<NA>,$5 to $25 million (USD),-1,data scientist,standard/mid-level,109000.0,84000.0,134000.0
803,Data Scientist,Gustaine,"Orange, CA",$72K - $128K (Glassdoor est.),-1.0,"Role Summary / Purpose\nHighly motivated self-driven Engineer in statistics / predictive modeling / data quality to lead and guide multi-disciplinary project teams addressing key challenges for different businesses. Creation of intellectual property will be a key expectation in this role.\n\nEssential Responsibilities\nAs a senior data scientist in the Modeling and Optimization, you will create and guide programs to invent and deliver predictive modeling and decision technologies for diverse busines...",-1,Company - Public,<NA>,<NA>,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,100000.0,72000.0,128000.0

In [19]:
df.loc[industry_absent_filter & ~sector_absent_filter]

,job_title,company,location,salary_est,rating,description,headquarters,ownership,industry,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary
275,AI & GEN AI Data Scientist-Experienced Associate,PRICE WATERHOUSE COOPERS,"Chicago, IL",$63K - $140K (Employer provided),3.7,<NA>,-1,-1,<NA>,Financial Services,$100 to $500 million (USD),-1,ai/ml engineer/scientist,junior/associate,101500.0,63000.0,140000.0

Dropping `headquarters` and `industry`. No use of them

In [20]:
df.at[275, 'sector'] = 'Financial Services'

In [21]:
df.drop(['headquarters', 'industry'], axis='columns', inplace=True)
df.head()

,job_title,company,location,salary_est,rating,description,ownership,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",Company - Private,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0,105000.0,120000.0
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",Company - Public,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level,137000.0,101000.0,173000.0
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,<NA>,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",Company - Private,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,NaN,NaN,NaN
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),-1.0,<NA>,-1,<NA>,-1,-1,data scientist,senior,135000.0,110000.0,160000.0
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,<NA>,-1,<NA>,-1,-1,data scientist,senior,152000.0,132000.0,172000.0

In [22]:
df['rating'] = df['rating'].astype('float')
df.loc[df['rating'] < 0, 'rating'] = np.nan

df['rating'].unique()

array([3.6, 4.1, nan, 4.2, 4. , 3.8, 4.3, 3.4, 3.5, 3.7, 3.9, 3. , 4.7,
       2.4, 4.5, 2.8, 3.3, 2.9, 3.2, 2.6, 4.4, 4.8, 5. , 2.7, 3.1, 1.8,
       4.6, 2.5, 4.9, 2.2, 1. ])

In [23]:
df.loc[df['location'] == 'Remote']

,job_title,company,location,salary_est,rating,description,ownership,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,<NA>,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",Company - Private,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,NaN,NaN,NaN
172,Data Scientist,"Riverbed Technology, Inc.",Remote,<NA>,3.0,"Riverbed. Empower the Experience:\nRiverbed, the leader in AI observability, helps organizations optimize their user’s experiences by leveraging AI automation for the prevention, identification, and resolution of IT issues. With over 20 years of experience in data collection and AI and machine learning, Riverbed’s open and AI-powered observability platform and solutions optimize digital experiences and greatly improves IT efficiency. Riverbed also offers industry-leading Acceleration solutions th...",Company - Private,Information Technology,$500 million to $1 billion (USD),-1,data scientist,standard/mid-level,NaN,NaN,NaN
269,Sr. Data Scientist,Americor,Remote,$120K - $150K (Employer provided),3.6,"Americor is an innovative finance technology company with a unique approach to debt resolution. Americor focuses on getting Americans out of debt quickly and responsibly so they can take control of their lives again. Our employees love coming to work and find value in what they do, consistently recognizing Americor as a top place to work. With over a decade of experience paired with a number of best company awards, Americor has relieved over $2 billion in debt for over 200,000 Americans.\n\nWe are...",Company - Private,Financial Services,$100 to $500 million (USD),-1,data scientist,senior,135000.0,120000.0,150000.0
535,Data Scientist,SOURCEFLY LLC,Remote,<NA>,5.0,Job Information\nJob Type\nFull time\nIndustry\nGovernment/Military\nSecurity Clearance\nPublic Trust\nRemote Job\n\nAbout Us,Company - Private,Information Technology,$1 to $5 million (USD),-1,data scientist,standard/mid-level,NaN,NaN,NaN
553,Data Scientist – Risk Modeling & Analytics,SoulPage IT Solutions,Remote,<NA>,4.4,"August 19, 2025\nRole: Data Scientist\nEmployment Type: C2C\nClient: REI Systems – FDA Account\nLocation: Remote, USA\nNo. of Positions: 2\nWork Experience: 5+ Years of experience",Company - Private,Information Technology,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,NaN,NaN,NaN
613,AI/ML Specialist,Techfinite Systems,Remote,<NA>,5.0,"AI/ML Specialist\nHybrid/Remote · Full Time · Experience: 1-2 years\nAs an AI/ML Specialist at Techfinite Systems, you will support the design, development, and deployment of machine learning models for enterprise and healthcare applications. This role is ideal for early-career professionals eager to apply their academic or internship experience in a real-world environment with impactful projects.\nKey Responsibilities\nAssist in building, training, and testing machine learning models.\nWork with sen...",Company - Public,<NA>,Unknown / Non-Applicable,-1,ai/ml engineer/scientist,standard/mid-level,NaN,NaN,NaN
691,Machine Learning Quantitative Researcher,Stormlight Capital,Remote,$300K - $600K (Employer provided),4.0,"Benefits:\nBonus based on performance\nFlexible schedule\nHome office stipend\nOpportunity for advancement\nPaid time off\nProfit sharing\nSigning bonus\n\nAbout Stormlight Capital\n\nStormlight Capital LLC is a high-frequency trading firm and market maker specializing in event contracts. Leveraging advanced technology and quantitative expertise, we deliver deep liquidity, efficient pricing, and robust risk management for our proprietary trading strategies. Continuous innovation and disciplined execution k...",Company - Private,<NA>,$1 to $5 million (USD),-1,research scientist,standard/mid-level,450000.0,300000.0,600000.0
742,Senior Data Scientist,Age of Learning,Remote,$170K - $215K (Employer provided),4.0,"Company Overview:\nAge of Learning® is the leading developer of engaging and effective Pre-K through 5th grade learning resources that help children build a strong foundation for academic success and a lifelong love of learning. The company’s research-based curriculum, developed by education experts, includes the award-winning programs ABCmouse.com® Early Learning Academy and Adventure Academy™, as well as the adaptive, personalized school solutions, My Math Academy®, My Reading Academy®, and My ...",Company - Private,Education,$100 to $500 million (USD),-1,data scientist,senior,192500.0,170000.0,215000.0

In [24]:
desc_remote_mask = df['description'].str.contains(r'remote', na=False)
print(df.loc[desc_remote_mask, 'description'])

115       Role Details\nLocation: San Francisco, CA. This role is based out of our San Francisco HQ and is not eligible for full-time remote work.\nAbout Us\nAt FurtherAI, we’re building the next generation of AI agents for the insurance industry - a trillion-dollar market ready for transformation.\nWe’ve raised more than $30M from top investors (Andreesen Horowitz, YC, Nexus, South Park Commons, Converge) and have grown 10x in revenue this year alone. Our customers include some of the largest names in insura...
120           Fullpower®-AI delivers a complete B2B IoT platform for AI-powered algorithms, remote contactless biosensing together with end-to-end engineering services, and customization of software in the field of life sciences, health, and biotechnology. Fullpower's platform is vetted and deployed as a PaaS, backed by a patent portfolio of 135+ patents. Fullpower's key areas of expertise include contactless biosensing, remote monitoring, non-invasive sleep technology, and the development of new technologies...
123                                                                                                                                                                                                                                                                                                                                                            Data Scientist II\nMultiple Locations, United States\n+ 1 more location\n\nDate posted\nOct 31, 2025\nJob number\n1884323\nWork site\n0 days / week in-office - remote
291        A career at Auto-Owners is challenging and rewarding. Our group of caring associates create financial security by helping individuals and businesses make a new start when a loss occurs.\nJob Description\nWe offer a merit-based work-from-home program based on job responsibilities. After initial training in-person, this specific role could have the flexibility to work from home up to 3 days per week.\nPlease note we are not currently hiring fully remote positions. All candidates must have the ability...
293        Data Scientist\nLos Angeles, CA\nHybrid Schedule (M/F remote, T/W/TH in-office)\nAt Magnite, we cultivate an environment of continuous growth and collaboration. Our work impacts what millions of people read, watch, and buy, and we’re looking for people to help us tackle that responsibility with creativity and focus. Magnite (NASDAQ: MGNI) is the world’s largest independent sell-side advertising platform. Publishers use our technology to monetize their content across all screens and formats includin...
321         ASHBURN, VA – Data Scientist (Junior)\nSDA seeks a motivated, career-oriented Junior Data Scientist to join our innovative team in Ashburn, VA. This is a hybrid position with some remote work.\nEvery day, Customs and Border Protection (CBP) manages the complex flow of people, capital, and goods across air, land, sea, and cyberspace. To enhance efficiency and security, SDA partners with the government to develop innovative solutions that promote lawful and safe movement. We are seeking an early-car...
323       Job Title: Data Scientist\nPosition Summary\nThe Chord Energy Data Scientist role is a technical individual contributor role, focused on supporting business opportunities through the use of exploratory data analytics, machine learning models and generative AI opportunities. This position is located in Downtown Houston, TX. Hybrid work schedule is an option for remote work on Mondays and Fridays. Level and salary commensurate with experience.\nEssential Job Functions\nThe primary responsibility invol...
339       Job Title: Data Scientist\nPosition Summary\nThe Chord Energy Data Scientist role is a technical individual contributor role, focused on supporting business opportunities through the use of exploratory data analytics, machine learning models and generative AI opportunities. This position is located in Downtown Houston, TX. Hybrid work schedule is an option for remote work on Mondays and Fridays. Level and salary commensurate with experience.\nEssential Job Functions\nThe primary responsibility invol...
673         Description\n\nThis position is ideal for an early-career machine learning scientist to join the AI & Machine Learning team as a Machine Learning Scientist, supporting photo-based diagnostics and remote treatment monitoring. Partnering with other machine learning specialists and product marketing, you’ll provide technical solutions to complex problems in computer vision and 3D data analysis to support Align’s product portfolio. This role is key to building out Align’s core technology capabilities....
684     Job Title: AI/ML Engineer\nLocation: Onsite\nEmployment Type: Full-time\nAbout Us\nAt Edurech Technology, we’re on a mission to build intelligent, scalable, and impactful digital solutions that transform businesses and user experiences. We’re now expanding our AI division and looking for a passionate AI/ML Engineer to join our innovative remote team.\nJob Overview\nWe’re seeking an AI/ML Engineer with 2+ years of experience in designing, developing, and deploying machine learning models. The ideal can...
728      ***An active or rein-statable TS/SCI with Polygraph security clearance is REQUIRED. Please do not apply if you currently do not possess this level of clearance.***\n\nAre you a Data Scientist who is ready for a new challenge that will launch your career to the next level?\nTired of being treated like a company drone?\nTired of promised adventures during the hiring phase, then dropped off on a remote contract and never seen or heard from the mothership again?\nOur engineers were certainly tired of the...
758         Do you want to be part of an award-winning and successful team? Are you a pro at translating your clients' needs into creative and appealing campaigns? Interested in developing your career in a team-oriented, "work hard, play hard" environment? Then Zehnder may be the place for you. We currently have an opening in our New Orleans office for an experienced Data Scientist with a minimum of 1-2 years of experience. This is an office-based role; it is not a remote work position.\nAbout Zehnder:\nZehnd...
778      Spartan Technologies, Inc. - Stamford, CT\nWe seek a Senior Data Scientist - AI/ML Solutions for our client's direct hire position. This role is a hybrid remote position, requiring 2 days a week at our client's offices.\nThis position is open to US Citizens, Green Card holders, or qualified persons requiring sponsorship.\nOffice locations: NYC, NY | Holmdel, NJ | Stamford, CT | Bethlehem, PA, Boston, MA\nYour Job\nAs a Senior Data Scientist - AI/ML Solutions, you will join our client's team of Data S...
781    Forward Deployed Data Scientist\nLocation: Boston, MA preferred, remote may be considered\nType: Full-time\nStage: Seed-stage AI Startup\nIndustry: B2B SaaS / Artificial Intelligence\n\nAs a Forward Deployed Data Scientist (FDDS) at Growth Signals, you'll work directly with enterprise customers to help them get real value from our GenAI platform. You'll be their primary technical partner, combining data science expertise with product knowledge and customer success to solve their toughest challenges.\nI...
790         Spartan Technologies, Inc. - Atlanta, GA\nTagged: Analysis, Data Science, SQL, Python\nWe are seeking a Data Scientist who will be responsible for supporting predictive analytic initiatives that empower business decisions and is available for a direct hire/permanent role. The locations for this role are Atlanta, GA, FL, KS, LA, MS, OK, PA or TX. We are not seeking candidates who require relocation at this time. Also, we will consider candidates who are residents in Texas as well. This is a remote ...
Name: description, dtype: object

In [25]:
df['job_state'] = df['location'].str.extract(r', ([A-Z]{2})', expand=False)
df.head()

,job_title,company,location,salary_est,rating,description,ownership,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary,job_state
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",Company - Private,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0,105000.0,120000.0,IL
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",Company - Public,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level,137000.0,101000.0,173000.0,TX
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,<NA>,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",Company - Private,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,NaN,NaN,NaN,NaN
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),NaN,<NA>,-1,<NA>,-1,-1,data scientist,senior,135000.0,110000.0,160000.0,IL
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,<NA>,-1,<NA>,-1,-1,data scientist,senior,152000.0,132000.0,172000.0,PA

In [26]:
missing_job_state_mask = df['job_state'].isna()
df.loc[missing_job_state_mask, ['location', 'job_state']]

                             location job_state
2                              Remote       NaN
23                      United States       NaN
29                          Minnesota       NaN
36                      United States       NaN
40                      United States       NaN
72                      United States       NaN
75                             Alaska       NaN
79                      United States       NaN
84                      United States       NaN
85                             Oregon       NaN
96                            Georgia       NaN
107                     United States       NaN
112                     United States       NaN
122                          Virginia       NaN
123                     United States       NaN
159                     United States       NaN
163                     United States       NaN
172                            Remote       NaN
173                     United States       NaN
177                     United States       NaN
215                     United States       NaN
221                     United States       NaN
222                             Texas       NaN
264                        California       NaN
269                            Remote       NaN
310                         Tennessee       NaN
316                           Georgia       NaN
318                     United States       NaN
333                     United States       NaN
337                     United States       NaN
338                         Anacostia       NaN
359                     United States       NaN
407                     Massachusetts       NaN
442                             Idaho       NaN
504                     United States       NaN
508                          Virginia       NaN
535                            Remote       NaN
553                            Remote       NaN
606                             Texas       NaN
613                            Remote       NaN
624                          Maryland       NaN
630                     United States       NaN
672                                -1       NaN
685                     United States       NaN
691                            Remote       NaN
713                      Pennsylvania       NaN
725  Patuxent River Naval Air Station       NaN
737                        New Jersey       NaN
742                            Remote       NaN
782                        New Jersey       NaN

In [27]:
us_states = {
    'Alaska': 'AK',
    'California': 'CA',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'New Jersey': 'NJ',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Virginia': 'VA',
    'Remote': 'R',
}

missing_job_state_mask = df['job_state'].isna()
df.loc[missing_job_state_mask, 'job_state'] = df.loc[missing_job_state_mask, 'location'].apply(lambda x: us_states[x] if x in us_states.keys() else pd.NA)

df.loc[missing_job_state_mask, ['location', 'job_state']]

                             location job_state
2                              Remote         R
23                      United States      <NA>
29                          Minnesota        MN
36                      United States      <NA>
40                      United States      <NA>
72                      United States      <NA>
75                             Alaska        AK
79                      United States      <NA>
84                      United States      <NA>
85                             Oregon        OR
96                            Georgia        GA
107                     United States      <NA>
112                     United States      <NA>
122                          Virginia        VA
123                     United States      <NA>
159                     United States      <NA>
163                     United States      <NA>
172                            Remote         R
173                     United States      <NA>
177                     United States      <NA>
215                     United States      <NA>
221                     United States      <NA>
222                             Texas        TX
264                        California        CA
269                            Remote         R
310                         Tennessee        TN
316                           Georgia        GA
318                     United States      <NA>
333                     United States      <NA>
337                     United States      <NA>
338                         Anacostia      <NA>
359                     United States      <NA>
407                     Massachusetts        MA
442                             Idaho        ID
504                     United States      <NA>
508                          Virginia        VA
535                            Remote         R
553                            Remote         R
606                             Texas        TX
613                            Remote         R
624                          Maryland        MD
630                     United States      <NA>
672                                -1      <NA>
685                     United States      <NA>
691                            Remote         R
713                      Pennsylvania        PA
725  Patuxent River Naval Air Station      <NA>
737                        New Jersey        NJ
742                            Remote         R
782                        New Jersey        NJ

In [28]:
df['job_state'].value_counts()

job_state
CA    133
TX     71
MA     55
IL     54
VA     39
GA     34
FL     29
PA     27
NJ     20
NC     20
WA     19
OH     19
NY     17
MI     17
AR     12
MD     11
MO     10
MN      9
UT      9
R       8
IN      8
KS      7
CT      6
CO      6
AZ      4
HI      4
TN      4
AL      4
SC      4
AK      3
ID      3
WY      3
ME      3
KY      2
WI      2
OK      2
WV      1
OR      1
DC      1
MS      1
NV      1
PR      1
ND      1
NE      1
DE      1
LA      1
Name: count, dtype: int64

California has the highest jobs in data science followed by Texas

In [29]:
df['desc_len'] = df['description'].apply(lambda x: len(x.strip()) if isinstance(x, str) else 0)
df[['description', 'desc_len']].head(60)

,description,desc_len
0,"Full/Part-time: Full time\nJob Category: Analytics\nCity: Chicago\nHAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",503
1,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",503
2,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America.\nThis position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",503
3,<NA>,0
4,<NA>,0
5,<NA>,0
6,<NA>,0
7,<NA>,0
8,"Job Description:\nDevelop high-quality, maintainable code to build and deploy computer vision modules and machine learning models as part of an AI pipeline\nWorks with data and software engineering team to integrate models into pipeline\nSupport construction and iteration of product prototypes\nSupport data pipeline engineering and automation\nStay up to date with state of the art developments in computer vision tasks\nOther duties as required by supervisors\nAdditional Requirements:",481
9,"Role: ML/AI Engineers\n(This role is open to US Citizens, Green Card holders, GC-EAD only. We do not sponsor visas.)\n\nSummary:\nAdidev is looking for an adept Machine Learning Engineer to take the helm in deploying advanced machine learning models, with a special emphasis on Generative AI. In this role, you will craft and refine AI-driven solutions, turning innovative ideas into value-adding features and services, thereby solidifying our market leadership and technological forefront for our client...",503
10,<NA>,0
11,<NA>,0
12,<NA>,0
13,"ONSITE\n\nWho We Are: Founded in 2007, SimIS Inc. is an innovative information technology solution Veteran Owned Small Business (VOSB) that models future environments, requirements, and capabilities, and then secures the enterprise from internal and external threats compliant with Federal, State, and industry standard governance to ensure client mission success. Our performance standard is “excellence,” with an outcomes-based, quality focus in our services and products, guided by our core values o...",503
14,"Req ID: 43336\nTeam: E81 NUC PRP-OVHL ENG\nEntity: Newport News Shipbuilding\nUS Citizenship Required for this Position: Yes\nFull-Time\nShift: 1st\nRelocation: Relocation assistance will be available\nVirtual/Telework Opportunity: No - Not eligible for telework\nTravel Requirement: Yes, up to 10% of the time\nClearance Required: No - Clearance Not Required to Start",359
15,"HP is the world’s leading personal systems and printing company, dedicated to creating technology that enriches lives everywhere. Our innovation thrives on the passion, talent, and curiosity of our people—each bringing unique perspectives, expertise, and ideas to shape the future of how the world works and lives.\nJoin HP’s Strategic Planning and Modeling (SPaM) Data Science Team – Where Vision Meets Impact\nAre you a visionary thinker with a passion for learning and innovation? Join our Strategic...",503
16,<NA>,0
17,<NA>,0
18,<NA>,0
19,<NA>,0
20,"Ready to take your career to the next level?\nSkai (formally Kenshoo) is looking for the best and the brightest to join our rapidly growing team. We're proud of our industry-leading digital marketing software but we're even prouder of the people behind it. That's where you come in!\n\nData Scientist (Mid-Level)\nWe are seeking a mid-level Data Scientist with expertise in Natural Language Processing and Generative AI who can deliver production-quality code and solutions. In this role, you will design...",503
21,"About James Hardie\nJames Hardie is the industry leader in exterior home and outdoor living solutions, with a portfolio that includes fiber cement, fiber gypsum, composite and PVC decking and railing products. Our family of trusted brands includes Hardie®, TimberTech®, AZEK® Exteriors, Versatex®, fermacell®, and StruXure®.\n\nWith over 8,000 employees and our U.S. operating entities headquartered in Chicago, we boast 31 operating sites, 6 recycling facilities, and 6 research and development centers...",503
22,"Posting Date: Oct 25, 2025\nLocation: Brazil, United States\nCompany: Sasol\nA job at Sasol is a career made by you, with purpose, development opportunities, benefits to support every stage of life and a working culture that embraces flexibility, diversity,\n\nPurpose of Job\nAs a Data Scientist at Sasol, you will drive digital transformation initiatives for Sasol’s global Chemicals business. In this role, you will leverage advanced data-driven techniques to enhance business performance. With your exp...",503
23,"Why N-able:\nAt N-able, we’re not just helping businesses be secure —we’re redefining what it means to be cyber resilient. Our end-to-end platform blends AI-powered capabilities and flexible tech stacks, so customers can manage, secure, and recover with confidence. But the real power behind it all? Our people. We’re a global crew of N-ablites, who love solving complex problems, sharing knowledge, and delivering solutions that actually make a difference. If you're into meaningful work, fast growth...",503
24,"Fall 2025 Start Dates\nLocation: Boston, MA\nAdditional Details:\nThis is a Boston based opportunity with a 4 day in office expectation.\nAt this time, Wayfair will not sponsor applicants for employment authorization for this position for the following work visas: STEM OPT EAD, H-1B, H-1B1, E-3, O-1, J-1, or TN.\nThe salary range for this position is $94,000 - $99,000 per year. The base salary offered may vary depending on location, job-related knowledge, skills, and experience\nWayfair is continuing ...",503
25,"Modern Technology Solutions Incorporated (MTSI) is seeking a talented Data Scientist to join our team in developing and applying advanced data science techniques to support the Department of Defense (DoD) and Intelligence Community (IC). This position will focus heavily on artificial intelligence (AI) and machine learning (ML) image processing capabilities, emphasizing innovation and impactful research and development (R&D) efforts.\n\nKey Responsibilities:\nApply advanced AI/ML techniques to image...",503
26,"Title: Data Scientist II\nReports To: Director of Engineering\nDepartment: Product & Engineering\nLocation: Cincinnati, OH or Seattle, WA\nPosition Status: Salary Exempt\n\nAbout DMG:\nDivisions Maintenance Group provides facility maintenance services to retail chains and distribution and fulfillment centers across the country.\n\nWe are leading the way with our technology, creating world-class products that are revolutionizing the industry and fulfilling our brand promise of “Uninterrupted Peace of Mind...",503
27,"Join Us in Making a Difference in the Lives of Those Defending Our Nation!\nWhy SURVICE?\nCome join the SURVICE Engineering mission to protect, enhance, and enable those who defend the United States. Since 1981, we have supported the DoD community, as well as Homeland Security, advanced technologies, environmental, and commercial markets. Our employees have backgrounds in engineering, physics, mathematics, chemistry, computer science, acquisition, technical writing, training, and other technical a...",503
28,"The Company\nPayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy.\n\nWe operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",503
29,"About the Business:\nLexisNexis Risk Solutions is the essential partner in the assessment of risk. Within our Business Services vertical, we offer a multitude of solutions focused on helping businesses of all sizes drive higher revenue growth, maximize operational efficiencies, and improve customer experience. Our solutions help our customers solve difficult problems in the areas of Anti-Money Laundering/Counter Terrorist Financing, Identity Authentication & Verification, Fraud and Credit Risk mi...",503
30,"Join us in pioneering breakthroughs in healthcare. For everyone. Everywhere. Sustainably.\n\nOur inspiring and caring environment forms a global community that celebrates diversity and individuality. We encourage you to step beyond your comfort zone, offering resources and flexibility to foster your professional and personal growth, all while valuing your unique contributions.\nJoin Siemens Healthineers’ Digital Technology & Innovation (DTI) organization as an AI/ML Scientist – Operational Twinning...",503
31,"Position Purpose:\nThe Sr. Data Scientist is responsible for leading data science initiatives that drive business profitability, increased efficiencies and improved customer experience. This role assists in the development of the Home Depot advanced analytics infrastructure that informs decision making. Sr. Data Scientists are expected to seek out business opportunities to leverage data science as a competitive advantage. Based on the specific data science team, this role would need to be profici...",503
32,<NA>,0
33,"Superhuman offers a dynamic hybrid working model for this role. This flexible approach gives team members the best of both worlds: plenty of focus time along with in-person collaboration that helps foster trust, innovation, and a strong team culture.\nSuperhuman team members in this role need to be located within the San Francisco Bay Area.\nAbout Superhuman\nGrammarly is now part of Superhuman, the AI productivity platform on a mission to unlock the superhuman potential in everyone. The Superhuman...",503
34,"Hardware Engineering is seeking a Senior Data Scientist to answer critical business questions through rigorous analysis of data engineering outputs, delivering intelligence that drives strategic decision-making. The ideal candidate brings expertise in data analytics and a passion for data storytelling. You'll have the autonomy to shape analytics strategy across workforce planning and operations, working with leadership to inform high-stakes organizational decisions. This role offers the opportun...",503
35,"Role: Data Scientist – Machine Learning Focus\n(This role is open to US Citizens, Green Card holders, GC-EAD only. We do not sponsor visas.)\n\nAdidev Technologies Inc\nwww.adidevtechnologies.com\nAdidev Technologies is seeking 2 yrs of relevant experience in Data Science. A project can last anywhere from 6 months to 18 months. Salary varies depending on experience, and we are in search of candidates looking to start as soon as possible. Excellent written and oral communication are required as is the...",503
36,"Develops robust algorithms, automated processes, and software programs to cleanse, integrate, and evaluate diverse datasets from multiple sources. Utilizes machine learning techniques to build predictive models and generate insights that drive business value. Translates complex data findings into clear, impactful insights and communicates results effectively to product, service, and business managers. Implements tools and frameworks to operationalize insights and ML models into scalable solution...",503
37,"JOB SUMMARY:\nUnder general supervision, applies knowledge of statistics, machine learning, programming, data modeling and advanced mathematics to recognize patterns, identify opportunities, pose business questions and make valuable discoveries leading to increased efficiency and productivity. Analysis focuses on product warranty related data sets that may be applied to various areas of the business (e.g, Manufacturing, Design, Marketing/Advertising, etc.).\nESSENTIAL DUTIES AND RESPONSIBILITIES:\n...",503
38,"{Empty}\n\nU.S. National Base Pay Range: $93,400 - $155,700. Geographic differentials may apply in some locations to better reflect local market rates.\nThis job is eligible for an annual incentive bonus.\nWe know that your wellbeing and happiness are key to a long and successful career. These are some of the benefits we are delighted to offer: Health Benefits: Comprehensive, multi-carrier program for medical, dental and vision benefits Retirement Benefits: 401(k) with match and an Employee Share Pu...",503
39,<NA>,0
40,<NA>,0
41,<NA>,0
42,<NA>,0
43,<NA>,0
44,<NA>,0
45,<NA>,0
46,<NA>,0
47,<NA>,0
48,<NA>,0
49,"Morgan Lewis is recognized for exceptional client service, legal innovation, and commitment to its communities. Our global depth reaches across North America, Asia, Europe, and the Middle East with the collaboration of more than 2,200 lawyers and specialists who provide elite legal services across industry sectors for multinational corporations to startups around the world.\nThe Morgan Lewis AI Lab is seeking an Applied Scientist (Analyst level) to help design, develop, and optimize AI solutions ...",503
50,"About APR Supply Co.\nAPR Supply Co. is a century-strong leader in the HVAC and Plumbing distribution industry — and we’re redefining how data powers our business. As part of our ongoing digital transformation, we’re building a modern, AI-enabled data platform centered on Microsoft Fabric to unlock intelligent insights, automate operations, and elevate customer experience.\nWe’re seeking an accomplished Data Scientist to help architect and advance this platform—integrating structured and unstructu...",503
51,"Requires strong understanding of statistical analysis and mathematical analysis; any one combination of Python or R; knowledge and understanding of data modeling and visualization; understanding of graph theory, and application of graph database and modeling; and able to develop cloud analytics and machine learning algorithms. Must be able to communicate effectively with customers, understand requirements and translate necessary features into a model and explain model results. Prefer experience ...",503
52,"Position: Data Scientist - Fraud Strategy - 12 month Contract\nTrisian-Global Consulting LLC is seeking a highly skilled and experienced Data Scientist for a 12 month contract in San Jose, California. Hybrid environment, must be local to San Jose.\nNO Sponsorship, C2C, H1B, OPT etc - must be USC or Green Card Holder for W2 Engagement with Client.\nAs a Data Scientist, you will be responsible for developing and implementing data-driven strategies to identify and prevent fraud for our clients. You wi...",503
53,"Value Proposition:\nOur values define us and our culture inspires us to change lives for the better. Our employees are the heart and soul of our company, and every success we experience begins with them. Together we are committed to making a positive impact in our local communities. We champion a culture of continuous learning, work-life integration, and inclusion. We promote a digitally enabled work environment to continuously enhance the experience of our employees and customers.\nOverview:\nThis...",503
54,"Data Scientist – LLMs & Applied AI Hybrid What Manager DISLIKES ON RESUME: • Generic ML experience without any LLM, agentic, or applied AI work. • Heavy reliance on low-code/no-code ML platforms without demonstrated software engineering capability. • Lack of hands-on involvement in end-to-end model deployment or evaluation.",325
55,<NA>,0
56,"Description\nWe are seeking a skilled Data Scientist I to join our team in the SinAI Assurance Lab. The position will play a key role in Machine Learning Operations and be responsible for validation, monitoring, and governance of AI models across clinical workflows at the Mount Sinai Health System. This role will ensure that these models meet Mount Sinai’s high standards for safety, equity, and real-world performance.\nYou will work in partnership with the AI Governance Committee, product owners, ...",503
57,"The Digital Direct Sales (DDS) team at Microsoft is a global eCommerce organization that helps consumers and very small businesses discover, learn, and buy Microsoft products. Operating in over 120 countries, DDS combines data-driven insights, experimentation, and personalization to deliver intelligent, adaptive shopping experiences. We engage customers throughout their digital journeys, driving emotional connection, business growth, and innovation at scale. We are seeking a highly skilled and s...",503
58,"Overview:\nVTG is seeking a Staff I Data Scientist to support our Team in Manassas, VA. The Data Scientist will design, prototype, and implement a data management and application development pipeline in support of national defense data science and data architecture prototyping tasks. This role will also include gathering and organizing data, conducting data analytics, and developing data analytic and AI/ML based applications. This is a hybrid role.\n\nResponsibilities:\nThe Data Scientist will work ...",503
59,"The Senior Data Scientist will support Tendo analytics projects focused on quality management and risk adjustment. The person in this role will access data from multiple sources (public and private) and translate it into information that is meaningful and actionable for health systems. The Senior Data Scientist develops, maintains, and enhances predictive models that improve products in several areas including, but not limited to quality, risk, and operational efficiency. We're looking for someo...",503

In [30]:
df.drop(['desc_len'], axis='columns', inplace = True)

df['description'] = df['description'].str.replace('\n', ' ')
df.head(1)

,job_title,company,location,salary_est,rating,description,ownership,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary,job_state
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time Job Category: Analytics City: Chicago HAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",Company - Private,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0,105000.0,120000.0,IL

In [31]:
df['competitors'].unique()

array([-1])

In [32]:
# competitor count
df['num_comp'] = df['competitors'].apply(lambda x: len(x.split(',')) if x!=-1 else 0)

not_desc_list = ["job_title","company","location","salary_est","rating","ownership","sector","revenue","annual_salary_avg","job_state", "num_comp"]
df.head()[not_desc_list]

,job_title,company,location,salary_est,rating,ownership,sector,revenue,annual_salary_avg,job_state,num_comp
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,Company - Private,Management & Consulting,Unknown / Non-Applicable,112500.0,IL,0
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,Company - Public,Information Technology,$10+ billion (USD),137000.0,TX,0
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,<NA>,4.1,Company - Private,Manufacturing,Unknown / Non-Applicable,NaN,R,0
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),NaN,-1,<NA>,-1,135000.0,IL,0
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,-1,<NA>,-1,152000.0,PA,0

In [33]:
df[df['num_comp'] != 0]

Empty DataFrame
Columns: [job_title, company, location, salary_est, rating, description, ownership, sector, revenue, competitors, job_category, seniority, annual_salary_avg, min_salary, max_salary, job_state, num_comp]
Index: []

In [34]:
df.drop(['num_comp'], axis='columns', inplace=True)

df['revenue'].unique()

array(['Unknown / Non-Applicable', '$10+ billion (USD)', '-1',
       'Less than $1 million (USD)', '$1 to $5 million (USD)',
       '$1 to $5 billion (USD)', '$5 to $10 billion (USD)',
       '$500 million to $1 billion (USD)', '$5 to $25 million (USD)',
       '$100 to $500 million (USD)', '$25 to $100 million (USD)'],
      dtype=object)

In [35]:
df['revenue'].value_counts()

revenue
Unknown / Non-Applicable            212
$10+ billion (USD)                  138
$1 to $5 billion (USD)               78
-1                                   77
$100 to $500 million (USD)           48
$5 to $25 million (USD)              45
$5 to $10 billion (USD)              35
$25 to $100 million (USD)            28
$500 million to $1 billion (USD)     22
$1 to $5 million (USD)               20
Less than $1 million (USD)           10
Name: count, dtype: int64

In [36]:
df['revenue'].isna().sum()

np.int64(0)

In [37]:
df['ownership'].value_counts()

ownership
Company - Public                  267
Company - Private                 257
-1                                 79
Subsidiary or Business Segment     30
College / University               24
Nonprofit Organization             16
Unknown                            16
Government                          7
Hospital                            6
Contract                            5
Self-employed                       4
Private Practice / Firm             1
Franchise                           1
Name: count, dtype: int64

In [38]:
df['ownership'].isna().sum()

np.int64(0)

In [39]:
df['sector'].value_counts()

sector
Information Technology                         179
Financial Services                              46
Retail & Wholesale                              41
Manufacturing                                   40
Healthcare                                      35
Management & Consulting                         35
Aerospace & Defense                             28
Education                                       26
Pharmaceutical & Biotechnology                  22
Energy, Mining & Utilities                      21
Insurance                                       20
Media & Communication                           17
Government & Public Administration              10
Telecommunications                              10
Transportation & Logistics                       9
Arts, Entertainment & Recreation                 5
Construction, Repair & Maintenance Services      5
Real Estate                                      4
Restaurants & Food Service                       3
Human Resources & Staffing                       3
Legal                                            2
Agriculture                                      1
Nonprofit & NGO                                  1
Hotels & Travel Accommodation                    1
Name: count, dtype: int64

In [40]:
len(df.loc[df['sector'].isna()])

149

In [41]:
ownership_sector_map = {
    'College / University': 'Education',
    'Nonprofit Organization': 'Nonprofit & NGO',
    'Government': 'Government & Public Administration',
    'Hospital': 'Healthcare',
    'Franchise': 'Restaurants & Food Service',
}

mask_tmp = (df['ownership'] == 'College / University') | (df['ownership'] == 'Nonprofit Organization') | (df['ownership'] == 'Government') | (df['ownership'] == 'Hospital') | (df['ownership'] == 'Franchise')
mask_tmp = mask_tmp & df['sector'].isna()
print(f"# of rows without sector imputed = {len(df.loc[mask_tmp])}")

df.loc[mask_tmp, 'sector'] = df.loc[mask_tmp, 'ownership'].apply(lambda x: ownership_sector_map[x])

# of rows without sector imputed = 2

In [42]:
df['ownership'] = df['ownership'].replace('-1', 'Unknown')
df['ownership'] = df['ownership'].replace(['Company - Private', 'Private Practice / Firm', 'Self-employed', 'Franchise'], 'Private')
df['ownership'] = df['ownership'].replace(['Company - Public', 'Subsidiary or Business Segment', 'Government'], 'Public')
df['ownership'] = df['ownership'].replace(['Nonprofit Organization', 'College / University', 'Hospital', 'Contract'], 'Other')
df['ownership'] = df['ownership'].fillna('Unknown')

## Handling missing values

In [43]:
df.isna().sum()

job_title              0
company                0
location               0
salary_est            89
rating                56
description           63
ownership              0
sector               147
revenue                0
competitors            0
job_category           0
seniority              0
annual_salary_avg     91
min_salary           100
max_salary           100
job_state             25
dtype: int64

- we'll fill salary based on the sector

In [44]:
null_sector_mask = df['sector'].isna()
null_desc_msk = df['description'].isna()
null_salary_mask = df['annual_salary_avg'].isna()

In [45]:
print(f"# rows which have sector but no salary = {len(df.loc[~null_sector_mask & null_salary_mask])}")
print(f"# rows which have no sector as well as no salary = {len(df.loc[null_sector_mask & null_salary_mask])}")
print(f"# rows which have no sector, no salary and also no description = {len(df.loc[null_desc_msk & null_sector_mask & null_salary_mask])}")

# rows which have sector but no salary = 68
# rows which have no sector as well as no salary = 23
# rows which have no sector, no salary and also no description = 6

Imputing strategy for `annual_salary_mask`
- remove the rows which have no sector, no salary as well as no description
- Now, the rows which have no sector as well as no salary = 17. We could have given the description of these rows to llm and extracted sector from it. But now we can't. So remove these 17 rows as well... in total all 23 rows with null sector and null salary
- Next, I think we should impute the 68 rows based on the median annual_salary_avg of a sector

In [46]:
df.drop(list(df.loc[null_sector_mask & null_salary_mask].index), axis='index', inplace=True)

In [47]:
print(f"# rows which have no sector as well as no salary = {len(df.loc[df['sector'].isna() & df['annual_salary_avg'].isna()])}")

# rows which have no sector as well as no salary = 0

In [48]:
null_sector_mask = df['sector'].isna()
null_desc_msk = df['description'].isna()

null_sector_but_not_desc_mask = ~null_desc_msk & null_sector_mask
print(f"# rows with description but sector null = {len(df.loc[null_sector_but_not_desc_mask])}")

# rows with description but sector null = 68

- so we could have imputed sector in these 68(and earlier 17) rows. and subsequently salaries. but currently we don't have the description. We'll leave the idea as is

In [49]:
df.isna().sum()

job_title              0
company                0
location               0
salary_est            67
rating                44
description           57
ownership              0
sector               124
revenue                0
competitors            0
job_category           0
seniority              0
annual_salary_avg     68
min_salary            77
max_salary            77
job_state             19
dtype: int64

In [51]:
# imputing salary based on the median of all salaries in any sector

df['sector'] = df['sector'].fillna('Unknown')

salary_grouped_sectorwise = df.groupby('sector')
df['annual_salary_avg'] = salary_grouped_sectorwise['annual_salary_avg'].transform(lambda x: x.fillna(x.median()))

# For any sector that had all NaN salaries, fill with global median
overall_median = df['annual_salary_avg'].median()
df['annual_salary_avg'] = df['annual_salary_avg'].fillna(overall_median)

df.isna().sum()

/home/sudarshan/greatness/python_libs/.venv/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

job_title             0
company               0
location              0
salary_est           67
rating               44
description          57
ownership             0
sector                0
revenue               0
competitors           0
job_category          0
seniority             0
annual_salary_avg     0
min_salary           77
max_salary           77
job_state            19
dtype: int64

In [53]:
not_desc_list.remove('num_comp')
df.loc[df['annual_salary_avg'].isna(), not_desc_list]

Empty DataFrame
Columns: [job_title, company, location, salary_est, rating, ownership, sector, revenue, annual_salary_avg, job_state]
Index: []

In [54]:
df['rating'] = salary_grouped_sectorwise['rating'].transform(lambda x: x.fillna(x.median()))

df.isna().sum()

job_title             0
company               0
location              0
salary_est           67
rating                0
description          57
ownership             0
sector                0
revenue               0
competitors           0
job_category          0
seniority             0
annual_salary_avg     0
min_salary           77
max_salary           77
job_state            19
dtype: int64

In [55]:
df.loc[df['min_salary'].isna(), 'min_salary'] = df.loc[df['min_salary'].isna(), 'annual_salary_avg']
df.loc[df['max_salary'].isna(), 'max_salary'] = df.loc[df['max_salary'].isna(), 'annual_salary_avg']

df['job_state'] = df['job_state'].fillna('Unknown')
df['salary_est'] = df['salary_est'].fillna('Unavailable')

df.isna().sum()

job_title             0
company               0
location              0
salary_est            0
rating                0
description          57
ownership             0
sector                0
revenue               0
competitors           0
job_category          0
seniority             0
annual_salary_avg     0
min_salary            0
max_salary            0
job_state             0
dtype: int64

In [56]:
len(df)

690

In [57]:
df.to_csv('salary_data_cleaned.csv')

In [58]:
df

,job_title,company,location,salary_est,rating,description,ownership,sector,revenue,competitors,job_category,seniority,annual_salary_avg,min_salary,max_salary,job_state
0,Data Scientist,Havi Supply Chain,"Chicago, IL",$105K - $120K (Employer provided),3.6,"Full/Part-time: Full time Job Category: Analytics City: Chicago HAVI is a global, privately owned company focused on innovating, optimizing and managing the supply chains of leading brands. Offering services in marketing analytics, packaging, supply chain management and logistics, HAVI partners with companies to address challenges big and small across the supply chain, from commodity to customer. Founded in 1974, HAVI employs more than 10,000 people and serves customers in more than 100 countrie...",Private,Management & Consulting,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,112500.0,105000.0,120000.0,IL
1,Risk Analytics Data Scientist,PayPal,"Austin, TX",$101K - $173K (Employer provided),3.6,"The Company PayPal has been revolutionizing commerce globally for more than 25 years. Creating innovative experiences that make moving money, selling, and shopping simple, personalized, and secure, PayPal empowers consumers and businesses in approximately 200 markets to join and thrive in the global economy. We operate a global, two-sided network at scale that connects hundreds of millions of merchants and consumers. We help merchants and consumers connect, transact, and complete payments, whet...",Public,Information Technology,$10+ billion (USD),-1,data scientist,standard/mid-level,137000.0,101000.0,173000.0,TX
2,"Data Scientist, Applied AI - Remote",Azumo,Remote,Unavailable,4.1,"Azumo is currently looking for a highly motivated Data Scientist / Machine Learning Engineer to develop and enhance our data and analytics infrastructure. The position is FULLY REMOTE, based in Latin America. This position will provide you with the opportunity to collaborate with a dynamic team and talented data scientists in the field of big data analytics and applied AI. If you have a passion for designing and implementing advanced machine learning and deep learning models, particularly in the...",Private,Manufacturing,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,116000.0,116000.0,116000.0,R
3,Sr. Data Scientist,EDGE,"Chicago, IL",$110K - $160K (Employer provided),3.8,<NA>,Unknown,Unknown,-1,-1,data scientist,senior,135000.0,110000.0,160000.0,IL
4,Senior Data Scientist,Envestnet,"Berwyn, PA",$132K - $172K (Glassdoor est.),4.2,<NA>,Unknown,Unknown,-1,-1,data scientist,senior,152000.0,132000.0,172000.0,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Principal Data Scientist,Delta Airlines,"Atlanta, GA",$134K - $172K (Glassdoor est.),4.2,"UNITED STATES, GEORGIA, ATLANTA GLOBAL CONSUMER INSIGHT 17-JUL-2025 REF #: 29205 HOW YOU'LL HELP US KEEP CLIMBING (OVERVIEW & KEY RESPONSIBILITIES) At Delta Air Lines, connection is at the heart of everything we do and guides our every action. We strive to welcome and care for all of our customers during their travels with us and aim to deliver an elevated experience.",Public,Transportation & Logistics,$10+ billion (USD),-1,data scientist,principal,153000.0,134000.0,172000.0,GA
801,DATA SCIENTIST,Reliance Global Services,"South Plainfield, NJ",$84K - $134K (Glassdoor est.),4.3,"Analyze large datasets and interact with relational databases. Write SQL queries, stored procedures, functions, triggers, and views. Develop and implement statistical models, machine learning algorithms, and data-driven solutions for business clients. Automate existing processes to streamline data analysis. Build dashboards and generate reports. Make recommendations based on analytical insights. Skills Required: Python, SQL, Git, Hadoop, Spark, SAS and Tableau. Master’s degree in Science, Techno...",Private,Unknown,$5 to $25 million (USD),-1,data scientist,standard/mid-level,109000.0,84000.0,134000.0,NJ
802,Data Scientist and AI Engineer,SKT Lab,"Santa Clara, CA",$103K - $173K (Glassdoor est.),3.9,"We are always looking for smart, enthusiastic, creative people to join our team! If you are interested in working with us, please email us at job@sktlab.com. Qualifications: We are looking for a candidate with 5+ years of experience in a Data Scientist role, who has Bachelor's or Graduate degree in Computer Science, Statistics, Informatics, Information Systems or another quantitative field. Experience with big data tools Experience with relational SQL and NoSQL databases Developing in R and Pyt...",Public,Information Technology,Unknown / Non-Applicable,-1,ai/ml engineer/scientist,standard/mid-level,138000.0,103000.0,173000.0,CA
803,Data Scientist,Gustaine,"Orange, CA",$72K - $128K (Glassdoor est.),3.8,"Role Summary / Purpose Highly motivated self-driven Engineer in statistics / predictive modeling / data quality to lead and guide multi-disciplinary project teams addressing key challenges for different businesses. Creation of intellectual property will be a key expectation in this role. Essential Responsibilities As a senior data scientist in the Modeling and Optimization, you will create and guide programs to invent and deliver predictive modeling and decision technologies for diverse busines...",Public,Unknown,Unknown / Non-Applicable,-1,data scientist,standard/mid-level,100000.0,72000.0,128000.0,CA
804,AI Engineer/Data Scientist,SPR,"Chicago, IL",$145K - $190K (Employer provided),4.0,AI Engineer/Data Scientist Information Technology Job Number: 4805 City : Chicago State : IL AI ENGINEER/ DATA SCIENTIST,Private,Information Technology,$25 to $100 million (USD),-1,ai/ml engineer/scientist,standard/mid-level,167500.0,145000.0,190000.0,IL